<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h2>Étel hozzáadása</h2>
            <form ng-submit="addMeal()">
                <table class="table table-borderless">
                    <thead>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="col-md-2" style="vertical-align: middle">Étel neve</td>
                        <td><input type="text" class="form-control" id="mealNameField" placeholder="Étel neve"
                                   ng-model="meal.meal_name" required>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle">Étel leírása</td>
                        <td>
                            <input type="text" class="form-control" id="mealDescriptionField" placeholder="Leírás"
                                   ng-model="meal.meal_description" required>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle">Étel ára</td>
                        <td>
                            <input type="text" class="form-control" id="mealPriceField" placeholder="Ár"
                                   ng-model="meal.meal_price" required>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle">Étel típusa</td>
                        <td>
                            <input type="text" class="form-control" id="mealTypeField" placeholder="Típus"
                                   ng-model="meal.meal_type" required>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div ng-if="statusCode == 200">
                    <div class="alert alert-success">
                        <p><strong> Sikeresen hozzáadta az ételt!</strong></p>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-info"><i class="glyphicon glyphicon-ok"></i> Felvitel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
