<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h1>Étel hozzáadása</h1>
            <form ng-submit="addMeal()">
                <div class="form-group">
                    <div class="media-left media-middle"><label for="mealNameField" class="col-md-2 col-form-label">Étel neve</label></div>
                    <div class="media-body">
                        <input type="text" class="form-control" id="mealNameField" placeholder="Étel neve" ng-model="meal.meal_name" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="media-left media-middle"><label for="mealDescriptionField" class="col-md-2 col-form-label">Étel leírása</label></div>
                    <div class="media-body">
                        <input type="text" class="form-control" id="mealDescriptionField" placeholder="Leírás" ng-model="meal.meal_description" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="media-left media-middle"><label for="mealPriceField" class="col-md-2 col-form-label">Ár</label></div>
                    <div class="media-body">
                        <input type="text" class="form-control" id="mealPriceField" placeholder="Ár" ng-model="meal.meal_price" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="media-left media-middle"><label for="mealPriceField" class="col-md-2 col-form-label"></label></div>
                    <div class="media-body">
                        <select class="form-control" ng-model="meal.username" required>
                            <option selected>{{ globals.currentUser.username }}</option>
                        </select>
                    </div>
                </div>
                <div ng-if="statusCode == 200">
                    <div class="alert alert-success">
                        <p><strong> Sikeresen hozzáadta az ételt!</strong></p>
                    </div>
                </div>
                <div class="form-group">
                <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-ok"></i> Felvitel</button>
                </div>
            </form>
        </div>
    </div>
</div>
