<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h2>Jelszó módosítása</h2>
            <form ng-submit="editUser()">
                <table class="table table-borderless">
                    <thead>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="col-md-3">
                            Jelenlegi
                            jelszó
                        </td>
                        <td><input type="password" class="form-control" id="currentPasswordField"
                                   placeholder="Jelenlegi jelszó"
                                   ng-model="modified_user.current_password" required>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>Új jelszó
                        </td>
                        <td>
                            <input type="password" class="form-control" id="newPasswordField" placeholder="Új jelszó"
                                   ng-model="modified_user.new_password" required>
        </div>
        </td>
        </tr>
        <tr>
            <td>
                <div>Új jelszó megerősítése
            </td>
            <td>
                <input type="password" class="form-control" id="ConfirmNewPasswordField"
                       placeholder="Jelszó megerősítése"
                       ng-model="modified_user.confirm_new_password" required>

    </div>
    </td>
    </tr>
    </tbody>
    </table>
    <div ng-if="statusCode == 409">
        <div class="alert alert-warning">
            <p><strong>Warning!</strong> Az új jelszó és a megerősítés nem egyezik!.</p>
        </div>
    </div>
    <div ng-if="statusCode == 401">
        <div class="alert alert-warning">
            <p><strong>Warning!</strong> A megadott jelszó hibás!.</p>
        </div>
    </div>
    <div ng-if="statusCode == 200">
        <div class="alert alert-success">
            <p><strong> Sikeres jelszó változtatás!</strong></p>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="glyphicon glyphicon-ok"></i> Mentés</button>
    </div>
    </form>
</div>
</div>
</div>