<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h1>Profilom</h1>
            <form ng-submit="editUser()">
                <div class="form-group">
                    <div class="media-left media-middle"><label for="currentPasswordField"
                                                 class=" col-form-label">Jelenlegi jelszó</label></div>
                    <div class="media-body">
                        <input type="password" class="form-control" id="currentPasswordField"
                               placeholder="Current password"
                               ng-model="modified_user.current_password" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="media-left media-middle"><label for="newPasswordField" class="col-md-2 col-form-label">Új
                        jelszó</label></div>
                    <div class="media-body">
                        <input type="password" class="form-control" id="newPasswordField" placeholder="New password"
                               ng-model="modified_user.new_password" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="media-left media-middle"><label for="ConfirmNewPasswordField"
                                                                class="col-md-2 col-form-label">
                        új jelszó megerősítése</label></div>
                    <div class="media-body">
                        <input type="password" class="form-control" id="ConfirmNewPasswordField"
                               placeholder="Confirm password"
                               ng-model="modified_user.confirm_new_password" required>
                    </div>
                </div>
                <div ng-if="statusCode == 409">
                    <div class="alert alert-warning">
                        <p><strong>Warning!</strong> Az új jelszó és a megerősítés nem egyezik!.</p>
                    </div>
                </div>
                <div ng-if="statusCode == 401">
                    <div class="alert alert-warning">
                        <p><strong>Warning!</strong> A megadott jelszó hibás!.</p>
                    </div>
                </div>
                <div ng-if="statusCode == 200">
                    <div class="alert alert-success">
                        <p><strong> Sikeres jelszó változtatás!</strong></p>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-ok"></i> Mentés</button>
                </div>
            </form>
        </div>
    </div>
</div>