<div ng-if="globals.currentUser.user_role !== 'admin'">
    <p class="alert alert-warning">Az oldal megtekintéséhez nincs jogosultságod!</p>
</div>

<div ng-if="globals.currentUser.username !== undefined && globals.currentUser.user_role === 'admin'"
     ng-controller="restaurantController">
    <h2>Éttermeim</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Részletes adatok</th>
            <th class="col-md-3"></th>
            <th class="col-md-2">Cím</th>
            <th class="col-md-1">Szállítási költség</th>
            <th class="col-md-2">Szzállítási idő</th>
            <th class="col-md-2">Minimális rendelés</th>
            <th class="col-md-1"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="restaurant in my_restaurants">
            <td><img src="{{ restaurant.banner }}" width="250px" height="110px"></td>
            <td><h3>{{ restaurant.restaurant_name }}</h3>
                {{ restaurant.restaurant_description }}</td>
            <td style="vertical-align: middle">{{ restaurant.restaurant_city }}, {{ restaurant.restaurant_street }} {{ restaurant.restaurant_number }}</td>
            <td style="vertical-align: middle">
                <div ng-if="restaurant.delivery_price === ''">Ingyenes</div>
                <div ng-if="restaurant.delivery_price !== ''">{{ restaurant.delivery_price }} Ft</div>
            </td>
            <td style="vertical-align: middle">
                <div ng-if="restaurant.delivery_min_time !== restaurant.delivery_max_time">{{ restaurant.delivery_min_time }}
                    - {{ restaurant.delivery_max_time }} perc
                </div>
                <div ng-if="restaurant.delivery_min_time === restaurant.delivery_max_time">{{ restaurant.delivery_max_time }}
                    perc
                </div>
            </td>
            <td style="vertical-align: middle">{{ restaurant.min_order }} Ft</td>
            <td style="vertical-align: middle"><a class="btn btn-info btn-block" href="#/setting-meals/{{ restaurant.restaurant_id }}">
               Étlap szerkesztése
            </a><a href="#/edit-restaurant/{{ restaurant.restaurant_id }}" class="btn btn-info btn-block">
                Étterem szerkesztése
            </a><a class="btn btn-info btn-block" href="#/my-orders/{{ restaurant.restaurant_id }}">
                Rendelések
            </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
