<!-- Navigation -->
<nav class="navbar navbar-inverse" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/startpage">MitEgyek</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li ng-if="globals.currentUser.username !== undefined && globals.currentUser.user_role === 'user'">
                <a href="#/restaurant">Éttermek</a>
            </li>
            <li ng-if="globals.currentUser.username !== undefined && globals.currentUser.user_role ==='admin'">
                <a href="#/myRestaurant/{{ globals.currentUser.username }}">Éttermem</a>
            </li>
            <li ng-if="globals.currentUser.username !== undefined && globals.currentUser.user_role ==='admin'">
                <a href="#/addRestaurant">Étterem hozzáadása</a>
            </li>
            <li ng-if="globals.currentUser.username !== undefined">
                <a href="#/my-profile">Profilom</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li ng-if="globals.currentUser.username !== undefined" >
                <a href="/"><i class="glyphicon glyphicon-log-out"></i> Kijelenetkezés</a>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
    <!-- /.container -->
</nav>