<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h2>Új vásárló reigsztrálása</h2>
            <form ng-submit="registration()">
                <table class="table table-borderless">
                    <thead>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="col-md-1">Keresztnév</td>
                        <td>
                            <input type="text" class="form-control" id="firstNameField" placeholder="Keresztnév"
                                   ng-model="user.first_name" required>
                        </td>
                    </tr>
                    <tr>
                        <td>Vezetéknév</td>
                        <td>
                            <input type="text" class="form-control" id="lastNameField" placeholder="Vezetéknév"
                                   ng-model="user.last_name" required>
                        </td>
                    </tr>
                    <tr>
                        <td>Felhasználónév</td>
                        <td>
                            <input type="text" class="form-control" id="userNameField" placeholder="Felhasználónév"
                                   ng-model="user.user_name" required>
                        </td>
                    </tr>
                    <tr>
                        <td>Jelszó</td>
                        <td>
                            <input type="password" class="form-control" id="passwordField" placeholder="Jelszó"
                                   ng-model="user.password" required>
                        </td>
                    </tr>
                    <tr>
                        <td>Telefonszám</td>
                        <td>
                            <input type="text" class="form-control" id="phoneNumberField" placeholder="Telefonszám"
                                   ng-model="user.phone_number" required>
                        </td>
                    </tr>
                    <tr>
                        <td>Email cím</td>
                        <td>
                            <input type="text" class="form-control" id="emailField" placeholder="Email cím"
                                   ng-model="user.email" required>
                        </td>
                    </tr>
                    <tr>
                        <td>Város</td>
                        <td>
                            <input type="text" class="form-control" id="cityField" placeholder="Város"
                                   ng-model="user.city" required>
                        </td>
                    </tr>
                    <tr>
                        <td>Utca</td>
                        <td>
                            <input type="text" class="form-control" id="streetField" placeholder="Utca"
                                   ng-model="user.street" required>
                        </td>
                    </tr>
                    <tr>
                        <td>Házszám</td>
                        <td>
                            <input type="text" class="form-control" id="numberField" placeholder="Házszám"
                                   ng-model="user.number" required>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div ng-if="statusCode == 409">
                    <div class="alert alert-warning">
                        <p><strong>Warning!</strong> Ez a felhasználónév már létezik.</p>
                    </div>
                </div>
                <div ng-if="statusCode == 200">
                    <div class="alert alert-info form-group">
                        <p><strong> Sikeresen regisztráltál!</strong></p>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-info" ng-controller="userController"><i
                            class="glyphicon glyphicon-ok"></i> Regisztráció
                    </button>
                </div>
            </form>
    </div>
</div>
</div>