<h2>Éttermek</h2>
<form>
<select class="form-control" ng-model="city" ng-options="city.city_name for city in cities">
</select>
</form>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Név</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="restaurant in restaurants | filter: city.city_name">
        <td><a href="#/list-meals/{{ restaurant.restaurant_id }}" >{{ restaurant.restaurant_name }}</a></td>
        <td>{{ restaurant.restaurant_city }}</td>
        <td>{{ restaurant.restaurant_id }}</td>
        <td>{{ restaurant.restaurant_number }}</td>
    </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Név</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in users">
        <td>{{ user.user_name }}</td>
        <td ng-repeat="address in user.user_addresses">
            {{ address.address_city }} {{ address.address_street }}, {{ address.address_number }} </td>
    </tr>
    </tbody>
</table>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Név</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="order in orders">
        <td>{{ order.order_id }}</td>
        <td ng-repeat="meals in order.order_meals">
            {{ meals.meal_name }}</td>
    </tr>
    </tbody>
</table>

<table class="table table-striped">
    <thead>
    <tr>
        <th>payment</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="(k,data) in payments">
        <td>{{data}}</td>

    </tbody>
</table>
