<div class="row">
    <div ng-if="statusCode == 200">
        <div class="alert alert-success">
            <p><strong>Sikeres törlés!</strong></p>
        </div>
    </div>
    <div class="col-xs-10">
        <h2>Étlap</h2>
        <h3>Új étel felvitele: <a href="#/add-meal">
                <button class="btn btn-info">Felvitel</button>
            </a></h3>
        <form>
            <select class="form-control" ng-model="type" ng-options="type.meal_type for type in types">
                <option value="" disabled selected>Válassz ételtípust</option>
            </select>
        </form>
        <table class="table table-striped">
            <thead>
            <tr>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="meal in meals | filter: type.meal_type">
                <td class="col-md-2"><img src="{{ meal.image_source }}" width="175px" height="77x"></td>
                <td class="col-md-6"><h4><strong>{{ meal.meal_name }}</strong></h4> {{ meal.meal_description }}</td>
                <td  style="vertical-align: middle"><strong>{{ meal.meal_price }} Ft</strong></td>
                <td class="col-md-1" style="vertical-align: middle">
                    <button class="btn btn-info" ng-click="removeMeal(meal)">Törlés az étlapról</button>
                    <a href="#/edit-meal/{{ meal.meal_id }}" class="btn btn-info">Étel szerkesztése</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
