<p>A világ felgyorsult, az emberek állandó rohanásban vannak, nem mindig jut idő olyan alapvető dolgok elvégzésére, mint
    például a főzés. Az éttermek látogatása is egy időigényes tevékenység, ezért megnőtt a kereslet az ételek házhoz
    rendelésére. Az interneten számos alternatívát találhatunk ételrendelős webes alkalmazások terén, de ezek nem
    működnek megfelelően, nem egyértelmű a használatuk és nem felhasználóbarát az alkalmazások kialakítása. A dolgozatom
    célja egy olyan webalkalmazás készítése, amely több étterem adatbázisát kezeli, ezáltal megkönnyíti az ételrendelést
    a felhasználók számára, mivel egy weboldalon megtalálhatják számos étterem kínáltatát, és kiválaszthatják a számukra
    legszimpatikusabbat. A dolgozatomban összpontosítani fogok egy letisztult, egyértelmű, könnyen kezelhető
    felhasználói felület kialakítására különböző szűrési lehetőségekkel. Továbbá az üzletvezetők feladatának, az
    éttermek menedzselésének megkönnyítésére online étterem kezelő felülettel, statisztikákkal, kimutatásokkal, melyek
    elengedhetetlenek egy sikeres vállalkozáshoz.</p>

<p>Az alkalmazásom szerveroldalon Python/Flask keretrendszert, míg kliensoldalon AngularJS-t használ. Az adatokat
    relációs adatbázis tárolom, amelyhez a keretrendszer SQLAlchemy ORM-en keresztül csatlakozik.</p>